APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

#Main game configs
LOTTO_MAIN_TOTAL=50
LOTTO_MAIN_GAME=5

#Powerball game configs
LOTTO_POWERBALL_TOTAL=50
LOTTO_POWERBALL_GAME=5